.product {
  display: flex;
  flex-direction: column;
  width: 241px;
  min-height: 377px;
  border-radius: 10px;
  background-color: white;

  &-img-box {
    &-img {
      width: 160px;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    background-color: #efefef;
    min-height: 241px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    &-time {
      position: absolute;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 75px;
      height: 24px;
      background-color: white;
      border-radius: 50px;
      left: 11px;
      bottom: 14px;
      color: #aab7c7;
      &-value {
        font-size: 12px;
      }
    }
  }
  &-details {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    &-button {
      max-width: 201px;
      width: 100%;
      background-color: #010101;
      border-radius: 5px;
      padding: 10px 0;
      color: white;
    }
  }
}
