.basket {
  background-color: white;
  max-width: 337px;
  width: 100%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  &-container {
    padding: 0 15px;
  }

  &-empty {
    max-height: 442px;
    height: 100%;
    &-items {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    &-text {
      font-size: 16px;
      color: #6d6d7a;
      font-weight: 300;
      font-family: "Roboto-Thin";
    }
  }
}
